{%extends 'megaTemp/base.html'%}
{%block content%}
{%load static%}


<br>

      <!-- MegaHotels section starts  -->
      <div class="container mt-3">
        <h1 class="heading" data-aos="zoom-out">Contact Us</h1>
   

      <form method="post">
       <label  align="center">Contact us Form</label>
    
       <div class="mb-3 mt-3">
        <label for="cust">Customer Name</label>
        <input type="text" class="form-control" style="width: 30%;" id="cust" placeholder="Enter Name" name="na" size="50px">
      </div><br>
    
        <div class="mb-3 mt-3">
          <label for="email" text-colour="white">Email:</label>
          <input type="email" class="form-control" style="width: 30%; height: 30%;" id="email" placeholder="Enter email" name="em" size="50px">
        </div><br>

      

   

   



  {%endblock%}